.header
  background-color: rgb(173, 52, 229)
  color: white
  height: 30vh
  display: flex
  align-items: flex-start
  flex: 1 1
  flex-direction: column
  justify-content: center
  padding: 50px
  h1
    font-size: 5rem
    font-weight: bold
    margin-bottom: 20px
  h4
    font-size: 1.7rem
    font-weight: bold
    margin-bottom: 20px
