.news
  margin: 10px
  font-size: 13pt
.newsItem
  display: flex
  justify-content: space-between
  padding: 10px
  border-bottom: 1px solid #ccc
  &:hover
    background-color: #fafafa
    .icon
      visibility: visible
.newsDateActions
  display: flex
  justify-content: space-between
  align-items: center

.icon
  visibility: hidden
  padding: 0 20px

.titleColumn
  display: flex
.titleRow
  color: #333
.subTitle
  color: #999
